version: "3"
services:
  iot-postgres:
    image: postgres:latest
    network_mode: bridge
    container_name: iot-postgres
    volumes:
      - iot-data:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres

volumes:
  iot-data:
